//! **************************************************************************
// Written by: Map P.20131013 on Wed Apr 01 01:47:45 2026
//! **************************************************************************

SCHEMATIC START;
COMP "RED" LOCATE = SITE "P140" LEVEL 1;
COMP "SW_MODE" LOCATE = SITE "P66" LEVEL 1;
COMP "BLUE" LOCATE = SITE "P134" LEVEL 1;
COMP "SW_DIFF0" LOCATE = SITE "P62" LEVEL 1;
COMP "SW_DIFF1" LOCATE = SITE "P61" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "P123" LEVEL 1;
COMP "GREEN" LOCATE = SITE "P138" LEVEL 1;
COMP "HSYNC" LOCATE = SITE "P132" LEVEL 1;
COMP "VSYNC" LOCATE = SITE "P127" LEVEL 1;
COMP "SSD_COM<0>" LOCATE = SITE "P44" LEVEL 1;
COMP "SSD_COM<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "SSD_COM<2>" LOCATE = SITE "P33" LEVEL 1;
COMP "SSD_COM<3>" LOCATE = SITE "P30" LEVEL 1;
COMP "SSD_SEG<0>" LOCATE = SITE "P41" LEVEL 1;
COMP "SSD_SEG<1>" LOCATE = SITE "P40" LEVEL 1;
COMP "SSD_SEG<2>" LOCATE = SITE "P35" LEVEL 1;
COMP "SSD_SEG<3>" LOCATE = SITE "P34" LEVEL 1;
COMP "SSD_SEG<4>" LOCATE = SITE "P32" LEVEL 1;
COMP "SSD_SEG<5>" LOCATE = SITE "P29" LEVEL 1;
COMP "SSD_SEG<6>" LOCATE = SITE "P27" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P82" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P81" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P80" LEVEL 1;
COMP "BUZZER" LOCATE = SITE "P83" LEVEL 1;
COMP "P1_RIGHT" LOCATE = SITE "P16" LEVEL 1;
COMP "P2_RIGHT" LOCATE = SITE "P12" LEVEL 1;
COMP "P1_START" LOCATE = SITE "P14" LEVEL 1;
COMP "P1_LEFT" LOCATE = SITE "P11" LEVEL 1;
COMP "P2_LEFT" LOCATE = SITE "P17" LEVEL 1;
SCHEMATIC END;

